In [13]:
import pandas as pd

In [14]:
# merging two csv files
df = pd.concat(
    map(pd.read_csv, ['Cleaned/2020_all_states_cleaned.csv', 'Cleaned/2021_all_states_cleaned.csv']), ignore_index=True)
df.head()

,date,negeri,code,daerah,kawasan_banjir,latitude,longitude,kedalaman_banjir_max,day,month,year
0,29/4/2020,Sarawak,SRW,TANGKAK,2. Kg Parit Bengkok,1.5203,103.9244,0.5,29,4,2020
1,10/5/2020,Sarawak,SRW,KLUANG,Kg Bentong,2.0475,103.2973,0.5,10,5,2020
2,10/5/2020,Sarawak,SRW,KLUANG,Jalan Batu Pahat (Petron Tmn Berlian),2.0173,103.2960,0.5,10,5,2020
3,10/5/2020,Sarawak,SRW,KLUANG,Taman Intan,2.0147,103.3009,0.5,10,5,2020
4,10/5/2020,Sarawak,SRW,KLUANG,Taman Emas,2.0205,103.2986,0.5,10,5,2020

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6990 entries, 0 to 6989
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  6990 non-null   object
 1   negeri                6990 non-null   object
 2   code                  6990 non-null   object
 3   daerah                6990 non-null   object
 4   kawasan_banjir        6990 non-null   object
 5   latitude              6990 non-null   float64
 6   longitude             6990 non-null   float64
 7   kedalaman_banjir_max  6990 non-null   float64
 8   day                   6990 non-null   int64
 9   month                 6990 non-null   int64
 10  year                  6990 non-null   object
dtypes: float64(3), int64(2), object(6)
memory usage: 600.8+ KB

In [16]:
df['year'].astype("int64")

ValueError: invalid literal for int() with base 10: '202\n1'

In [ ]:
df.isnull().sum()

date                    0
negeri                  0
code                    0
daerah                  0
kawasan_banjir          0
latitude                0
longitude               0
kedalaman_banjir_max    0
day                     0
month                   0
year                    0
dtype: int64

In [ ]:
df.to_csv("Cleaned/final.csv", index=False)