In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_excel("Data/2020_all_states.xlsx")
df.head()

,date,negeri,code,daerah,kawasan_banjir,latitude,longitude,kedalaman_banjir_max,nilai_hujan_max,tempoh_hujan,tempoh_ulang,day,month,year
0,29/1/2020,Sarawak,SRW,PONTIAN,Kg. Parit Mat Yakin,NaN,NaN,0.6,139,3,49,29,1,2020
1,29/1/2020,Sarawak,SRW,PONTIAN,Kg. Tenggayun,NaN,NaN,NaN,NaN,NaN,NaN,29,1,2020
2,29/1/2020,Sarawak,SRW,PONTIAN,Kg . Sri Bunian,NaN,NaN,NaN,NaN,NaN,NaN,29,1,2020
3,29/1/2020,Sarawak,SRW,PONTIAN,Kg. Pt Hj. Osman,NaN,NaN,NaN,NaN,NaN,NaN,29,1,2020
4,29/1/2020,Sarawak,SRW,KLUANG,Kg Sri Jaya,NaN,NaN,0.7,84,1,4,29,1,2020

# Check for Null value

In [3]:
# check for empty coordinates in the dataset
print("Number of empty coordinates: ", df['latitude'].isnull().sum())
print("Length of dataframe: ", len(df))
print("Percentage of empty coordinates: ", df['latitude'].isnull().sum()/len(df)*100, "%")

Number of empty coordinates:  194
Length of dataframe:  2798
Percentage of empty coordinates:  6.933523945675482 %

In [4]:
# check for missing values in flood depth column
print("Number of empty flood depth values: ", df['kedalaman_banjir_max'].isnull().sum())
print("Percentage of empty flood depth values: ", df['kedalaman_banjir_max'].isnull().sum()/len(df)*100, "%")

Number of empty flood depth values:  647
Percentage of empty flood depth values:  23.123659756969264 %

In [5]:
# missing value for max rainfall and the rainfall ARI
print("Number of empty cells in max rainfall: ", df['nilai_hujan_max'].isnull().sum())
print("Number of empty cells in rain duration: ", df['tempoh_hujan'].isnull().sum())
print("Number of empty cells in ARI:", df["tempoh_ulang"].isnull().sum())

# print the percentage of missing values in each column
print("Percentage of missing values in max rainfall: ", df['nilai_hujan_max'].isnull().sum()/len(df)*100)
print('Percentage of missing values in rain duration: ', df['tempoh_hujan'].isnull().sum()/len(df)*100)
print("Percentage of missing values in ARI:", df["tempoh_ulang"].isnull().sum()/len(df)*100)

Number of empty cells in max rainfall:  2032
Number of empty cells in rain duration:  2034
Number of empty cells in ARI: 2055
Percentage of missing values in max rainfall:  72.62330235882773
Percentage of missing values in rain duration:  72.69478198713367
Percentage of missing values in ARI: 73.44531808434596

- We will drop the max rainfall, rainfall duration and ARI column due to the tremendous amount of missing values
- For the coordinate and flood depth columns, we will remove the missing values in flood depth columns and impute the corresponding flood depth either with before fill or 0.

In [6]:
df = df.drop(["nilai_hujan_max", "tempoh_hujan", "tempoh_ulang"], axis=1)
df.head()

,date,negeri,code,daerah,kawasan_banjir,latitude,longitude,kedalaman_banjir_max,day,month,year
0,29/1/2020,Sarawak,SRW,PONTIAN,Kg. Parit Mat Yakin,NaN,NaN,0.6,29,1,2020
1,29/1/2020,Sarawak,SRW,PONTIAN,Kg. Tenggayun,NaN,NaN,NaN,29,1,2020
2,29/1/2020,Sarawak,SRW,PONTIAN,Kg . Sri Bunian,NaN,NaN,NaN,29,1,2020
3,29/1/2020,Sarawak,SRW,PONTIAN,Kg. Pt Hj. Osman,NaN,NaN,NaN,29,1,2020
4,29/1/2020,Sarawak,SRW,KLUANG,Kg Sri Jaya,NaN,NaN,0.7,29,1,2020

In [7]:
df['kawasan_banjir'] = df['kawasan_banjir'].fillna(value = "Unkonwn Location")
df["kedalaman_banjir_max"] = df["kedalaman_banjir_max"].fillna(method = "bfill")

In [8]:
df = df.dropna(how = "any", axis = 0)
df.head()

,date,negeri,code,daerah,kawasan_banjir,latitude,longitude,kedalaman_banjir_max,day,month,year
16,29/4/2020,Sarawak,SRW,TANGKAK,2. Kg Parit Bengkok,1.5203,103.9244,0.5,29,4,2020
18,10/5/2020,Sarawak,SRW,KLUANG,Kg Bentong,2.0475,103.2973,0.5,10,5,2020
19,10/5/2020,Sarawak,SRW,KLUANG,Jalan Batu Pahat (Petron Tmn Berlian),2.0173,103.2960,0.5,10,5,2020
20,10/5/2020,Sarawak,SRW,KLUANG,Taman Intan,2.0147,103.3009,0.5,10,5,2020
21,10/5/2020,Sarawak,SRW,KLUANG,Taman Emas,2.0205,103.2986,0.5,10,5,2020

In [9]:
df.isnull().sum()

date                    0
negeri                  0
code                    0
daerah                  0
kawasan_banjir          0
latitude                0
longitude               0
kedalaman_banjir_max    0
day                     0
month                   0
year                    0
dtype: int64

In [10]:
df.shape

(2604, 11)

In [11]:
df["kedalaman_banjir_max"].astype("float64")
df["latitude"].astype("float64")
df["longitude"].astype("float64")

16      103.9244
18      103.2973
19      103.2960
20      103.3009
21      103.2986
          ...
2789    102.9057
2790    103.1058
2791    103.1058
2792    102.9118
2797    103.0604
Name: longitude, Length: 2604, dtype: float64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2604 entries, 16 to 2797
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  2604 non-null   object
 1   negeri                2604 non-null   object
 2   code                  2604 non-null   object
 3   daerah                2604 non-null   object
 4   kawasan_banjir        2604 non-null   object
 5   latitude              2604 non-null   float64
 6   longitude             2604 non-null   float64
 7   kedalaman_banjir_max  2604 non-null   float64
 8   day                   2604 non-null   int64
 9   month                 2604 non-null   int64
 10  year                  2604 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 244.1+ KB

In [13]:
df.to_csv("Cleaned/2020_all_states_cleaned.csv", index=False)